@import url(http://fonts.googleapis.com/css?family=Varela);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:700);
/* line 17, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 2, ../sass/partials/_type.scss */
body {
  font-family: "Varela", sans-serif;
  font-size: 1em; }

/* line 8, ../sass/partials/_type.scss */
a {
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

/* line 14, ../sass/partials/_type.scss */
h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: .1em; }

/* line 20, ../sass/partials/_type.scss */
h2 {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 0.6em; }

/* line 26, ../sass/partials/_type.scss */
p {
  color: #cccccc;
  line-height: 20px;
  padding-bottom: 0.6em; }

/* line 18, ../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 21, ../sass/screen.scss */
body {
  background: url(../images/bg-green.jpg);
  max-width: 1100px;
  margin: 0 auto;
  height: 100%;
  position: relative; }

/* line 30, ../sass/screen.scss */
img {
  width: 100%; }

/* line 33, ../sass/screen.scss */
.offscreen {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 0;
  height: 0; }

/* line 43, ../sass/screen.scss */
.utilities {
  float: right;
  background: rgba(0, 0, 0, 0.4);
  font-size: 90%;
  padding: 0.6em; }
  /* line 48, ../sass/screen.scss */
  .utilities .links {
    padding: 2px 0.6em 0 0;
    float: left; }
  /* line 52, ../sass/screen.scss */
  .utilities a {
    text-decoration: none;
    color: white;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    padding: 0.5em 0.6em 0.6em;
    margin: 1px 0.3em 0 0;
    vertical-align: middle; }
    /* line 59, ../sass/screen.scss */
    .utilities a:hover, .utilities a:focus {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1; }
  /* line 63, ../sass/screen.scss */
  .utilities .facebook {
    width: 30px;
    height: 30px;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    background: transparent url(../images/icon-facebook.png) no-repeat; }
  /* line 70, ../sass/screen.scss */
  .utilities .tel {
    padding-left: 3em;
    background: transparent url(../images/icon-phone.png) no-repeat 9% 45%; }
  /* line 74, ../sass/screen.scss */
  .utilities form {
    float: right; }
  /* line 77, ../sass/screen.scss */
  .utilities input {
    background: rgba(0, 0, 0, 0.4);
    border: none;
    padding: 1em;
    margin: 0;
    color: white;
    width: 9em;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0; }
    /* line 85, ../sass/screen.scss */
    .utilities input:focus {
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear;
      background: rgba(0, 0, 0, 0.8);
      width: 15em; }
  /* line 91, ../sass/screen.scss */
  .utilities .btn-search {
    border: none;
    padding: 1em 0;
    margin: 0;
    width: 3em;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
    color: white;
    background: rgba(0, 0, 0, 0.8) url(../images/icon-search.png) no-repeat 50% 12px; }
    /* line 99, ../sass/screen.scss */
    .utilities .btn-search:hover, .utilities .btn-search:focus {
      background: black url(../images/icon-search.png) no-repeat 50% -14px; }

/* line 106, ../sass/screen.scss */
.sidebar {
  display: inline-block;
  background: white url(../images/bg-sidebar.png) repeat;
  min-height: 100%;
  width: 30%;
  -webkit-box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.8);
  padding: 1.5em;
  text-shadow: white 1px 1px 1px; }
  /* line 114, ../sass/screen.scss */
  .sidebar h1 {
    margin: 0 auto;
    max-width: 254px; }
  /* line 118, ../sass/screen.scss */
  .sidebar h2 {
    color: #666565; }
  /* line 121, ../sass/screen.scss */
  .sidebar a {
    color: #666565;
    padding: 0.75em 1em;
    display: inline-block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0); }
    /* line 128, ../sass/screen.scss */
    .sidebar a:hover, .sidebar a:focus, .sidebar a.current {
      background: rgba(255, 255, 255, 0.3);
      border: 1px solid rgba(0, 0, 0, 0.04);
      -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.15);
      box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.15); }
  /* line 134, ../sass/screen.scss */
  .sidebar nav.main-nav {
    padding: 1em;
    margin: -1em;
    text-transform: lowercase; }
    /* line 137, ../sass/screen.scss */
    .sidebar nav.main-nav li {
      display: inline-block;
      width: 49%;
      margin-bottom: .2em; }
  /* line 144, ../sass/screen.scss */
  .sidebar img {
    display: block;
    margin: 2em auto 3em; }
  /* line 148, ../sass/screen.scss */
  .sidebar nav.secondary-nav {
    text-align: center;
    margin-bottom: 3em; }
    /* line 151, ../sass/screen.scss */
    .sidebar nav.secondary-nav li {
      display: inline-block;
      width: 100%; }

/* line 159, ../sass/screen.scss */
.main {
  padding: 3em 0 0 3em;
  position: absolute;
  top: 3em;
  left: 30%;
  width: 70%; }
  /* line 166, ../sass/screen.scss */
  .main .module {
    margin-bottom: 1.5em;
    padding: 1.5em;
    background: rgba(0, 0, 0, 0.4);
    color: white; }

/* line 176, ../sass/screen.scss */
.slider ul {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0; }
/* line 186, ../sass/screen.scss */
.slider li {
  height: 300px;
  background: white;
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0; }
  /* line 199, ../sass/screen.scss */
  .slider li:first-child {
    position: relative;
    display: block;
    float: left; }

/* line 209, ../sass/screen.scss */
.full-width {
  width: 100%; }

/* line 215, ../sass/screen.scss */
.tag-line p {
  text-align: center;
  font-size: 110%;
  font-style: italic;
  line-height: 140%;
  padding-bottom: 0; }

/* line 224, ../sass/screen.scss */
.column {
  display: inline-block;
  width: 48%;
  vertical-align: top; }
  /* line 228, ../sass/screen.scss */
  .column:nth-of-type(odd) {
    margin-right: 2%; }
  /* line 231, ../sass/screen.scss */
  .column:nth-of-type(even) {
    margin-left: 2%; }
  /* line 234, ../sass/screen.scss */
  .column h1 {
    text-transform: uppercase;
    padding-bottom: 1.5em; }
  /* line 238, ../sass/screen.scss */
  .column h2 {
    padding-bottom: 1em; }
  /* line 241, ../sass/screen.scss */
  .column dl {
    font-size: 90%;
    padding-bottom: 0.6em; }
    /* line 244, ../sass/screen.scss */
    .column dl dt {
      padding-bottom: 0.6em;
      color: #cccccc; }
      /* line 247, ../sass/screen.scss */
      .column dl dt:after {
        content: " :"; }
    /* line 251, ../sass/screen.scss */
    .column dl dd {
      font-size: 110%;
      padding-bottom: 0.6em;
      font-family: "Ubuntu", sans-serif;
      font-weight: bold;
      line-height: 30px; }
  /* line 259, ../sass/screen.scss */
  .column em, .column time {
    font-weight: normal;
    font-size: 90%;
    color: #cccccc;
    display: block; }
  /* line 265, ../sass/screen.scss */
  .column time {
    text-align: right;
    color: #a1e5df; }
  /* line 269, ../sass/screen.scss */
  .column img {
    border: 0.6em solid rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px; }

/* line 274, ../sass/screen.scss */
.menu {
  text-align: center; }
  /* line 276, ../sass/screen.scss */
  .menu li {
    display: block;
    margin-bottom: 1px; }
    /* line 279, ../sass/screen.scss */
    .menu li a {
      display: block;
      padding: 1em 0;
      color: #cccccc;
      background: rgba(0, 0, 0, 0.4); }
      /* line 284, ../sass/screen.scss */
      .menu li a:hover, .menu li a:focus {
        color: white;
        background: rgba(255, 255, 255, 0.2); }

/* line 292, ../sass/screen.scss */
.news h2 {
  text-transform: none;
  line-height: 120%; }
/* line 296, ../sass/screen.scss */
.news article {
  padding-bottom: 1.5em; }
  /* line 298, ../sass/screen.scss */
  .news article:last-child {
    padding-bottom: 0; }
/* line 302, ../sass/screen.scss */
.news p {
  font-size: 90%; }

/* line 307, ../sass/screen.scss */
.contact dl {
  margin-top: -1em; }
/* line 310, ../sass/screen.scss */
.contact dt {
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden; }
/* line 313, ../sass/screen.scss */
.contact dd {
  padding-left: 4.05em;
  min-height: 3em; }
/* line 317, ../sass/screen.scss */
.contact .call {
  background: transparent url(../images/icon-phone-blue.png) no-repeat 2% 5%; }
  /* line 319, ../sass/screen.scss */
  .contact .call a {
    color: white;
    font-size: 120%; }
/* line 324, ../sass/screen.scss */
.contact .hours {
  background: transparent url(../images/icon-hours.png) no-repeat 2% 5%; }
/* line 327, ../sass/screen.scss */
.contact .address {
  background: transparent url(../images/icon-pin.png) no-repeat 2% 5%; }

/* line 332, ../sass/screen.scss */
.heading h1 {
  font-size: 120%; }

/* line 337, ../sass/screen.scss */
.product img {
  float: right;
  max-width: 100px; }
/* line 341, ../sass/screen.scss */
.product dt {
  display: inline; }
/* line 344, ../sass/screen.scss */
.product .price {
  background: white;
  color: black;
  display: inline-block;
  padding: 2px 3px;
  margin: 0.6em 0;
  line-height: 20px; }

/* line 354, ../sass/screen.scss */
.about header {
  float: right;
  width: 40%;
  margin-left: 0.6em; }
/* line 359, ../sass/screen.scss */
.about img {
  display: block;
  max-width: 60px;
  margin: 0 auto;
  border: 0; }
/* line 365, ../sass/screen.scss */
.about h1 {
  padding-bottom: 1em;
  color: white;
  text-align: center;
  text-transform: none;
  font-size: 100%; }
  /* line 371, ../sass/screen.scss */
  .about h1 em {
    color: white;
    font-size: 220%;
    font-weight: bold;
    margin-bottom: .2em;
    display: block; }
/* line 379, ../sass/screen.scss */
.about em {
  display: inline;
  font-size: 100%;
  color: #a1e5df;
  font-weight: bold; }

/* line 387, ../sass/screen.scss */
form {
  margin-top: 0.6em; }
  /* line 389, ../sass/screen.scss */
  form label {
    display: block;
    margin-bottom: 0.6em; }
  /* line 393, ../sass/screen.scss */
  form input, form textarea {
    width: 100%;
    margin-bottom: 1.5em;
    padding: 0.75em;
    font-size: 90%;
    background: white url(../images/bg-sidebar.png) repeat;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
    text-shadow: white 1px 1px 1px;
    border: 0; }
    /* line 402, ../sass/screen.scss */
    form input:focus, form textarea:focus {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1; }
  /* line 406, ../sass/screen.scss */
  form input[type="submit"] {
    background: #12679b;
    color: white;
    padding: 0.85714em;
    font-size: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    text-shadow: none;
    margin-bottom: 0; }
    /* line 414, ../sass/screen.scss */
    form input[type="submit"]:hover, form input[type="submit"]:focus {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1;
      text-shadow: black 1px 1px 1px;
      -webkit-box-shadow: 0 0.3em 0 #0a3956;
      -moz-box-shadow: 0 0.3em 0 #0a3956;
      box-shadow: 0 0.3em 0 #0a3956; }
    /* line 419, ../sass/screen.scss */
    form input[type="submit"]:active {
      -webkit-box-shadow: inset 0 0.3em 0 #0a3956;
      -moz-box-shadow: inset 0 0.3em 0 #0a3956;
      box-shadow: inset 0 0.3em 0 #0a3956; }
