@import url(http://fonts.googleapis.com/css?family=Varela);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:700);
/* line 17, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 2, ../sass/partials/_type.scss */
body {
  font-family: "Varela", sans-serif;
  font-size: 1em; }

/* line 8, ../sass/partials/_type.scss */
a {
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  /* line 12, ../sass/partials/_type.scss */
  a:hover, a:focus {
    text-decoration: underline; }

/* line 16, ../sass/partials/_type.scss */
h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: .1em; }

/* line 22, ../sass/partials/_type.scss */
h2 {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 0.6em; }

/* line 28, ../sass/partials/_type.scss */
p {
  color: #cccccc;
  line-height: 20px;
  padding-bottom: 0.6em; }

/* line 18, ../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 21, ../sass/screen.scss */
body {
  background: url(../images/bg-green.jpg);
  width: 1100px;
  margin: 0 auto;
  height: 100%;
  position: relative; }

/* line 32, ../sass/screen.scss */
img {
  width: 100%; }

/* line 35, ../sass/screen.scss */
.offscreen {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 0;
  height: 0; }

/* line 45, ../sass/screen.scss */
.utilities {
  float: right;
  background: rgba(0, 0, 0, 0.4);
  font-size: 90%;
  padding: 0.6em; }
  /* line 50, ../sass/screen.scss */
  .utilities .links {
    padding: 2px 0.6em 0 0;
    float: left; }
  /* line 54, ../sass/screen.scss */
  .utilities a {
    text-decoration: none;
    color: white;
    padding: 0.5em 0.6em 0.6em;
    margin: 1px 0.3em 0 0;
    vertical-align: middle; }
    /* line 60, ../sass/screen.scss */
    .utilities a:hover, .utilities a:focus {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
      opacity: 0.7; }
  /* line 64, ../sass/screen.scss */
  .utilities .facebook {
    width: 30px;
    height: 30px;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    background: transparent url(../images/icon-facebook.png) no-repeat; }
  /* line 71, ../sass/screen.scss */
  .utilities .tel {
    padding-left: 3em;
    background: transparent url(../images/icon-phone.png) no-repeat 9% 45%; }
  /* line 75, ../sass/screen.scss */
  .utilities .email {
    padding-left: 3em;
    background: transparent url(../images/icon-email.png) no-repeat 6% 45%; }
  /* line 79, ../sass/screen.scss */
  .utilities form {
    float: right; }
  /* line 82, ../sass/screen.scss */
  .utilities input {
    background: rgba(0, 0, 0, 0.4);
    border: none;
    padding: 1em;
    margin: 0;
    color: white;
    width: 9em;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0; }
    /* line 90, ../sass/screen.scss */
    .utilities input:focus {
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear;
      background: rgba(0, 0, 0, 0.8);
      width: 15em; }
  /* line 96, ../sass/screen.scss */
  .utilities .btn-search {
    border: none;
    padding: 1em 0;
    margin: 0;
    width: 3em;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
    color: white;
    background: rgba(0, 0, 0, 0.8) url(../images/icon-search.png) no-repeat 50% 12px; }
    /* line 104, ../sass/screen.scss */
    .utilities .btn-search:hover, .utilities .btn-search:focus {
      background: black url(../images/icon-search.png) no-repeat 50% -14px; }

/* line 111, ../sass/screen.scss */
.sidebar {
  display: inline-block;
  background: white url(../images/bg-sidebar.png) repeat;
  min-height: 100%;
  width: 30%;
  -webkit-box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.8);
  padding: 1.5em;
  text-shadow: white 1px 1px 1px; }
  /* line 119, ../sass/screen.scss */
  .sidebar h1 {
    margin: 0 auto;
    max-width: 254px; }
  /* line 123, ../sass/screen.scss */
  .sidebar h2 {
    color: #666565; }
  /* line 126, ../sass/screen.scss */
  .sidebar a {
    color: #666565;
    padding: 0.75em 1em;
    display: inline-block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0); }
    /* line 133, ../sass/screen.scss */
    .sidebar a:hover, .sidebar a:focus, .sidebar a.current {
      background: rgba(255, 255, 255, 0.3);
      border: 1px solid rgba(0, 0, 0, 0.04);
      -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.15);
      box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.15);
      text-decoration: none; }
  /* line 140, ../sass/screen.scss */
  .sidebar nav.main-nav {
    padding: 1em;
    margin: -1em;
    text-transform: lowercase; }
    /* line 143, ../sass/screen.scss */
    .sidebar nav.main-nav li {
      display: inline-block;
      width: 49%;
      margin-bottom: .2em; }
  /* line 150, ../sass/screen.scss */
  .sidebar img {
    display: block;
    margin: 2em auto 3em; }
  /* line 154, ../sass/screen.scss */
  .sidebar nav.secondary-nav {
    text-align: center;
    margin-bottom: 3em; }
    /* line 157, ../sass/screen.scss */
    .sidebar nav.secondary-nav li {
      display: inline-block;
      width: 100%; }
    /* line 161, ../sass/screen.scss */
    .sidebar nav.secondary-nav img {
      padding-right: 0.6em;
      margin: 0;
      display: inline;
      width: auto;
      height: auto;
      vertical-align: middle; }

/* line 173, ../sass/screen.scss */
.main {
  padding: 3em 0 0 3em;
  position: absolute;
  top: 3em;
  left: 30%;
  width: 70%; }
  /* line 180, ../sass/screen.scss */
  .main .module {
    margin-bottom: 1.5em;
    padding: 1.5em;
    background: rgba(0, 0, 0, 0.4);
    color: white; }

/* line 190, ../sass/screen.scss */
.slider li {
  overflow: hidden; }
  /* line 192, ../sass/screen.scss */
  .slider li article {
    position: absolute;
    top: 5%;
    left: 10%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    width: 40%;
    height: auto;
    padding: 2%; }
    /* line 201, ../sass/screen.scss */
    .slider li article h2 {
      line-height: 160%; }
      /* line 203, ../sass/screen.scss */
      .slider li article h2 em {
        background: white;
        color: black;
        padding: 2px 3px;
        margin: 0.6em 0;
        line-height: 20px; }
    /* line 211, ../sass/screen.scss */
    .slider li article p {
      font-size: 90%; }
    /* line 214, ../sass/screen.scss */
    .slider li article img {
      float: right;
      max-width: 30%;
      border: 0.3em solid rgba(0, 0, 0, 0.8);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      margin: 0 0 0.6em 0.6em; }
/* line 225, ../sass/screen.scss */
.slider .alt article {
  right: 10%;
  left: inherit; }
/* line 231, ../sass/screen.scss */
.slider .bx-wrapper {
  margin-bottom: 30px;
  height: auto; }
  /* line 234, ../sass/screen.scss */
  .slider .bx-wrapper .bx-pager.bx-default-pager a:hover, .slider .bx-wrapper .bx-pager.bx-default-pager a:focus, .slider .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: white; }
  /* line 237, ../sass/screen.scss */
  .slider .bx-wrapper .bx-viewport {
    left: 0;
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
/* line 243, ../sass/screen.scss */
.slider .bx-controls-direction a {
  -webkit-transition: none 1s;
  -moz-transition: none 1s;
  -o-transition: none 1s;
  transition: none 1s; }

/* line 249, ../sass/screen.scss */
.full-width {
  width: 100%; }

/* line 255, ../sass/screen.scss */
.tag-line p {
  text-align: center;
  font-size: 110%;
  font-style: italic;
  line-height: 140%;
  padding-bottom: 0; }

/* line 264, ../sass/screen.scss */
.column {
  display: inline-block;
  width: 48%;
  vertical-align: top; }
  /* line 268, ../sass/screen.scss */
  .column:nth-of-type(odd) {
    margin-right: 2%; }
  /* line 271, ../sass/screen.scss */
  .column:nth-of-type(even) {
    margin-left: 2%; }
  /* line 274, ../sass/screen.scss */
  .column h1 {
    text-transform: uppercase;
    padding-bottom: 1.5em; }
  /* line 278, ../sass/screen.scss */
  .column h2 {
    padding-bottom: 1em; }
  /* line 281, ../sass/screen.scss */
  .column dl {
    font-size: 90%;
    padding-bottom: 0.6em; }
    /* line 284, ../sass/screen.scss */
    .column dl dt {
      padding-bottom: 0.6em;
      color: #cccccc; }
      /* line 287, ../sass/screen.scss */
      .column dl dt:after {
        content: " :"; }
    /* line 291, ../sass/screen.scss */
    .column dl dd {
      font-size: 110%;
      padding-bottom: 0.6em;
      font-family: "Ubuntu", sans-serif;
      font-weight: bold;
      line-height: 30px; }
  /* line 299, ../sass/screen.scss */
  .column em, .column time {
    font-weight: normal;
    font-size: 90%;
    color: #cccccc;
    display: block; }
  /* line 305, ../sass/screen.scss */
  .column time {
    text-align: right;
    color: #a1e5df; }
  /* line 309, ../sass/screen.scss */
  .column img {
    border: 0.6em solid rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px; }

/* line 314, ../sass/screen.scss */
.menu {
  text-align: center; }
  /* line 316, ../sass/screen.scss */
  .menu li {
    display: block;
    margin-bottom: 1px; }
    /* line 319, ../sass/screen.scss */
    .menu li img {
      display: none; }
    /* line 322, ../sass/screen.scss */
    .menu li a {
      display: block;
      padding: 1em 0;
      color: #cccccc;
      background: rgba(0, 0, 0, 0.4); }
      /* line 327, ../sass/screen.scss */
      .menu li a:hover, .menu li a:focus {
        color: white;
        background: rgba(255, 255, 255, 0.2);
        text-decoration: none; }

/* line 336, ../sass/screen.scss */
.news h2 {
  text-transform: none;
  line-height: 120%; }
/* line 340, ../sass/screen.scss */
.news article {
  padding-bottom: 1.5em; }
  /* line 342, ../sass/screen.scss */
  .news article:last-child {
    padding-bottom: 0; }
/* line 346, ../sass/screen.scss */
.news p {
  font-size: 90%; }

/* line 351, ../sass/screen.scss */
.contact dl {
  margin-top: -1em; }
/* line 354, ../sass/screen.scss */
.contact dt {
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden; }
/* line 357, ../sass/screen.scss */
.contact dd {
  padding-left: 4.05em;
  min-height: 3em; }
/* line 361, ../sass/screen.scss */
.contact .call {
  background: transparent url(../images/icon-phone-blue.png) no-repeat 2% 5%; }
  /* line 363, ../sass/screen.scss */
  .contact .call a {
    color: white;
    font-size: 120%; }
    /* line 366, ../sass/screen.scss */
    .contact .call a:hover, .contact .call a:focus {
      color: #cccccc; }
/* line 371, ../sass/screen.scss */
.contact .hours {
  background: transparent url(../images/icon-hours.png) no-repeat 2% 5%; }
/* line 374, ../sass/screen.scss */
.contact .address {
  background: transparent url(../images/icon-pin.png) no-repeat 2% 5%; }
/* line 377, ../sass/screen.scss */
.contact .email {
  background: transparent url(../images/icon-email-blue.png) no-repeat 0 0; }
  /* line 379, ../sass/screen.scss */
  .contact .email a {
    color: white;
    font-size: 100%;
    font-weight: normal; }
    /* line 383, ../sass/screen.scss */
    .contact .email a:hover, .contact .email a:focus {
      text-decoration: underline;
      color: #cccccc; }

/* line 391, ../sass/screen.scss */
.heading h1 {
  font-size: 120%; }

/* line 395, ../sass/screen.scss */
.product {
  min-height: 225px; }
  /* line 397, ../sass/screen.scss */
  .product img {
    float: right;
    max-width: 100px;
    display: none; }
  /* line 402, ../sass/screen.scss */
  .product dt {
    display: inline; }
  /* line 405, ../sass/screen.scss */
  .product .price {
    background: white;
    color: black;
    display: inline-block;
    padding: 2px 3px;
    margin: 0.6em 0;
    line-height: 20px; }

/* line 415, ../sass/screen.scss */
.about header {
  float: right;
  width: 40%;
  margin-left: 0.6em; }
/* line 420, ../sass/screen.scss */
.about img {
  display: block;
  max-width: 60px;
  margin: 0 auto;
  border: 0; }
/* line 426, ../sass/screen.scss */
.about h1 {
  padding-bottom: 1em;
  color: white;
  text-align: center;
  text-transform: none;
  font-size: 100%; }
  /* line 432, ../sass/screen.scss */
  .about h1 em {
    color: white;
    font-size: 220%;
    font-weight: bold;
    margin-bottom: .2em;
    display: block; }
/* line 440, ../sass/screen.scss */
.about em {
  display: inline;
  font-size: 100%;
  color: #a1e5df;
  font-weight: bold; }

/* line 448, ../sass/screen.scss */
form {
  margin-top: 0.6em; }
  /* line 450, ../sass/screen.scss */
  form label {
    display: block;
    margin-bottom: 0.6em; }
  /* line 454, ../sass/screen.scss */
  form input, form textarea {
    width: 100%;
    margin-bottom: 1.5em;
    padding: 0.75em;
    font-size: 90%;
    background: white url(../images/bg-sidebar.png) repeat;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
    text-shadow: white 1px 1px 1px;
    border: 0; }
    /* line 463, ../sass/screen.scss */
    form input:focus, form textarea:focus {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1;
      outline: 2px solid white;
      -webkit-box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.8);
      -moz-box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.8);
      box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.8); }
  /* line 469, ../sass/screen.scss */
  form input[type="submit"] {
    background: #12679b;
    color: white;
    padding: 0.85714em;
    font-size: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    text-shadow: none;
    margin-bottom: 0; }
    /* line 477, ../sass/screen.scss */
    form input[type="submit"]:hover, form input[type="submit"]:focus {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1;
      text-shadow: black 1px 1px 1px;
      -webkit-box-shadow: 0 0.3em 0 #0a3956;
      -moz-box-shadow: 0 0.3em 0 #0a3956;
      box-shadow: 0 0.3em 0 #0a3956; }
    /* line 482, ../sass/screen.scss */
    form input[type="submit"]:active {
      -webkit-box-shadow: inset 0 0.3em 0 #0a3956;
      -moz-box-shadow: inset 0 0.3em 0 #0a3956;
      box-shadow: inset 0 0.3em 0 #0a3956; }

/* line 487, ../sass/screen.scss */
.response {
  display: none;
  color: white;
  position: fixed;
  top: 25px;
  background: #d5e02f;
  padding: 1em;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  width: 40%;
  left: 30%; }

/* line 500, ../sass/screen.scss */
.success {
  display: block;
  background: #008d00 url(../images/icon-success.png) no-repeat 5% 50%; }

/* line 504, ../sass/screen.scss */
.waiting {
  display: block;
  background: #12679b; }

/* line 508, ../sass/screen.scss */
.error {
  display: block;
  background: #8d0000; }

/* line 512, ../sass/screen.scss */
input.error, textarea.error {
  background: #c00000 url(../images/icon-error.png) no-repeat 97% 7px;
  color: white; }
